extends default

block meta
  meta(name='robots', content='noindex,nofollow')
  link(href='https://fonts.googleapis.com/css?family=Pavanam', rel='stylesheet')

block stylus
  include:stylus(compress=true) ../stylus/_daily.styl

block header
  .header
    .container
      .grid.grid--gutterless
        .grid__item.header__logo-container
          a.site-logo(href='index.html')
            include /img/daily/logo--full.svg
        .grid__item.header__navigation-container
          ul.navigation
            li: a(href='index.html#daily') Daily
            li: a(href='index.html#nightfall') Nightfall
            li: a(href='index.html#weekly') Weekly
            li: a(href='index.html#vendors') Vendors

block footer
  .footer
    .container
      include /img/daily/logo.svg
