$color--black = #222
$color--orange = #ff6a13
$color--white = #fff

body
  background-image url('/img/body--division.jpg')

.brand--1
  .stroke
    fill $color--orange

.brand--2
  .stroke
    fill none
  .fill
    fill $color--orange

.brand--3
  background $color--white
  .stroke
    fill $color--orange

.brand--4
  background $color--white
  .stroke
    fill none
  .fill
    fill $color--orange

.brand--5
  .stroke
    fill $color--white

.brand--6
  .stroke
    fill none
  .fill
    fill $color--white

.brand--7
  background $color--orange
  .stroke
    fill $color--white

.brand--8
  background $color--orange
  .stroke
    fill none
  .fill
    fill $color--white

.brand--9
  .stroke
    fill $color--white
  .fill
    fill $color--orange

.brand--10
  .stroke
    fill $color--orange
  .fill
    fill $color--white

.brand--11
  background $color--black
  .stroke
    fill $color--white
  .fill
    fill $color--orange

.brand--12
  background $color--black
  .stroke
    fill $color--orange
  .fill
    fill $color--white
