@font-face
  font-display swap
  font-family 'ostrich'
  font-weight normal
  font-style normal
  src url('/font/ostrich/black.woff2') format('woff2')
    , url('/font/ostrich/black.woff') format('woff')
    , url('/font/ostrich/black.ttf')  format('truetype')

@font-face
  font-display swap
  font-family 'ostrich'
  font-weight bold
  font-style normal
  src url('/font/ostrich/bold.woff2') format('woff2')
    , url('/font/ostrich/bold.woff') format('woff')
    , url('/font/ostrich/bold.ttf')  format('truetype')

@font-face
  font-display swap
  font-family 'chalet'
  font-weight normal
  font-style normal
  src url('/font/chalet/regular.woff2') format('woff2')
    , url('/font/chalet/regular.woff') format('woff')
    , url('/font/chalet/regular.otf')  format('opentype')

@font-face
  font-display swap
  font-family 'chalet'
  font-weight bold
  font-style normal
  src url('/font/chalet/bold.woff2') format('woff2')
    , url('/font/chalet/bold.woff') format('woff')
    , url('/font/chalet/bold.otf')  format('opentype')
