@require '../../node_modules/stylus-mixins'
@require '../../node_modules/responsive-grid'

@import '_settings'
@import '_font'

/* stylinpug whitelist: {grid,grid__item} */
grid-base()

/* stylinpug whitelist: grid--reverse */
grid-reverse()

/* stylinpug whitelist: grid--gutterless */
grid-gutter-modifier('gutterless', 0)

/* stylinpug whitelist: one-half */
grid-widths('', 2)

+width-min($mq--fablet)
  /* stylinpug whitelist: fablet-one-half */
  grid-widths('fablet', 2)

+width-min($mq--tablet)
  /* stylinpug whitelist: {tablet-one-half,tablet-*-quarter*} */
  grid-widths('tablet', 2 4)

+width-min($mq--desktop)
  /* stylinpug whitelist: {desktop-one-half,desktop-*-quarter*} */
  grid-widths('desktop', 2 4)

.grid--align-center
  text-align center

.grid--valign-middle
  > .grid__item
    vertical-align middle

*, *:before, *:after
  box-sizing border-box

html, body, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, hr, legend, address, input, button, textarea, blockquote, table, th, td
  font-size 1em
  font-weight normal
  margin 0
  padding 0

body
  background $color--black
  color $color--white
  font 112.5%/1.5 $font--base
  -webkit-font-smoothing antialiased

img
  display inline-block
  max-width 100%

li
  list-style none
  padding-left 1em
  position relative

  &:before
    content ''
    display block
    width 0
    height 0
    border-style solid
    border-width 15.6px 9px 0
    border-color currentColor transparent transparent
    opacity 0.75
    position absolute
    top -4.5px
    left -0.5em

$vhidden =
  position absolute !important // @stylint ignore
  clip rect(0, 0, 0, 0) !important // @stylint ignore
  overflow hidden !important // @stylint ignore
  height 1px !important // @stylint ignore
  width 1px !important // @stylint ignore
  padding 0 !important // @stylint ignore
  margin -1px !important // @stylint ignore
  border 0 !important // @stylint ignore

[data-target]
  display block
  height $logo--width
  margin-top ($logo--width * -1)

.is-vhidden
  {$vhidden}

.logo
  color $color--white
  fill $color--white
  display inline-block
  padding 0.25em
  text-align left
  vertical-align middle
  width $logo--width

.logo--tag
  fill $color--steel
  padding 0

  .logo__container
    padding-bottom ratio-percentage(375, 500)

.logo__container
  height 0
  overflow hidden
  padding-bottom 100%
  position relative

  svg
    position absolute
    height 100%
    width 100%

.logo__grid--fixed
  margin-right -($logo--width)
  width $logo--width

.logo__grid--flexible
  padding-left $logo--width !important // @stylint ignore
  text-align right

.content
  background $color--white
  color $color--black

.container
  margin auto
  max-width 70em
  padding 0 1em

  +width-min($mq--tablet)
    padding 0 2em

.site-title
  fill $color--black
  font-family $font--brand
  font-weight bold
  position absolute
  text-align center
  top 50%
  transform translateY(-50%)
  width 100%

  svg
    max-width 90%

.site-introduction
  padding 3em 0
  margin auto
  max-width 55em
  text-align center

  +width-min($mq--desktop)
    padding 5em 0

  a
    color inherit

  p
    font-size 1.25em
    margin-bottom 1em

    &:last-child
      margin-bottom 0

    +width-min($mq--tablet)
      font-size 1.5em

  .heading
    font-size 1.5em

    +width-min($mq--tablet)
      font-size 1.75em

.site-introduction--first
  padding-top 0

.header
  background $color--white
  background alpha($color--white, 0.95)
  color $color--black
  position fixed
  z-index 1000
  width 100%

.header--faux
  background $color--white
  height ($logo--width + 2em)
  position static
  z-index auto

.header__link
  border-top 1px solid $color--grey--mid
  color $color--steel
  display inline-block
  margin-left 1em
  position relative
  padding-top 0.5em
  text-decoration none

  &:before
  &:after
    position absolute
    left 0

  &:before
    transition all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
    border-top 2px solid $color--black
    content ''
    top -1px
    width 100%
    transform scaleX(0)
    transform-origin left

  &:after
    transition all 0.4s cubic-bezier(0.19, 1, 0.22, 1)
    color $color--black
    content attr(data-wipe)
    height 100%
    top 0.5em
    width 0
    overflow hidden

  &:hover
  &:focus
    color $color--black
    outline 0

    &:before
      transform scaleX(1)

    &:after
      -webkit-clip-path inset(0 0 0 0)
      clip-path inset(0 0 0 0)

  @supports (-webkit-clip-path: inset(0))
    &:after
      -webkit-clip-path inset(0 99.999% 0 0)
      width 100%

    &:hover
    &:focus
      color inherit

  @supports (clip-path: inset(0))
    &:after
      clip-path inset(0 99.999% 0 0)
      width 100%

    &:hover
    &:focus
      color inherit

.textblock
  background $color--white no-repeat 100% 100%
  background-size cover
  display block
  text-align center

  a
    color inherit

  li + li
    margin-top 1em

  p
  ul
    margin-bottom 1em

  +width-min($mq--desktop)
    height 20em

.textblock--auto
  +width-min($mq--desktop)
    height auto

    .textblock__content
      top auto
      transform none

.textblock--alternate
  background-color $color--graphite
  color $color--white

  .button
    color $color--ghost

  .heading:before
    background-color $color--white !important // @stylint ignore

.textblock--breakout
  +width-min($mq--tablet)
    margin-top 5em

  +width-min($mq--desktop)
    margin-top 10em

.textblock--image
  height 20em

.textblock__content
  color inherit
  display block
  margin auto
  max-width 40em
  padding 2.5em 1em
  position relative
  text-decoration none

  +width-min($mq--fablet)
    padding-left 2.5em
    padding-right 2.5em

  +width-min($mq--desktop)
    top 50%
    transform translateY(-50%)

.brand-banner
  background $color--white url('/img/body.jpg') no-repeat 50% 50%
  background-size cover
  height 10em
  position relative

  +width-min($mq--tablet)
    height 20em

.brand-fixed
  .no-touchevents &
    background-attachment fixed !important // @stylint ignore

.brand-gradient
  {$gradient}
  color $color--white

  .heading:before
    background-color $color--white !important // @stylint ignore

.brand-triangles
  {$triangles}

.brand-zigzag
  $zigzag()

.brand-breakout
  position relative

  &:before
  &:after
    content ''
    position absolute
    background $color--white
    height 5em
    width 100%
    z-index 1

  &:after
    top 5em

  > *
    position relative
    z-index 2

.brand-transparent
  background-size cover
  color $color--white
  position relative

  &:before
    background rgba($color--graphite, 0.5)
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 0

  .container
    position relative
    z-index 2

.brand-destiny-clan-warfare
  background-image url('/img/destiny-clan-warfare.jpg')
  background-position 50% 50%

.brand-destiny-daily
  background-image url('/img/destiny-daily.jpg')
  background-position 50% 50%

.brand-guardian-outfitter
  background-image url('/img/guardian-outfitter.jpg')
  background-position 50% 50%

.button
  background none
  border 0
  color currentColor
  cursor pointer
  display inline-block
  line-height 1.5
  margin 1em
  position relative
  padding 0.75em 2.75em 0.75em 0
  text-align center
  vertical-align middle

  &:before
    content ''
    border 1px solid currentColor
    position absolute
    height 100%
    width 100%
    top 0
    left 0
    transform scaleX(1)
    transition transform 0.5s cubic-bezier(0.19, 1, 0.22, 1)

  &:hover
  &:focus
    outline 0

    &:before
      transform scaleX(1.1)

    .button__text
      opacity 1

      &:before
        transform scaleX(1)

.button__text
  display inline-block
  opacity 0.95

  &:before
    content ''
    display inline-block
    background currentColor
    margin 0 0.25em 0 0.75em
    height 1px
    width 1.75em
    vertical-align middle
    transform scaleX(0)
    transform-origin left
    transition all 0.5s cubic-bezier(0.19, 1, 0.22, 1)

.section-header
  background-color $color--white
  margin-bottom -5em
  padding 3em 2em 6em
  text-align center

  +width-min($mq--fablet)
    padding-top 6em

.prose
  text-align left

.heading
  display inline-block
  font-size 1.25em
  font-weight bold
  margin 0.8em 0
  margin-left -1.75em

  &:before
    content ''
    display inline-block
    background currentColor
    margin-right 0.5em
    height 1px
    width 1.25em
    vertical-align middle

.member
  background $color--graphite
  color $color--white
  display block
  height 0
  overflow hidden
  padding-bottom 100%
  position relative
  text-decoration none

  &:before
    content ''
    background-color $color--black
    opacity 0
    position absolute
    height 100%
    width 100%
    z-index 2
    transition opacity 0.7s cubic-bezier(0.165, 0.84, 0.44, 1)

  .touchevents &
  &:hover
  &:focus
    outline 0

    &:before
      opacity 0.35

    .member__content
      &:before
        width 90%
        width calc(100% - 2em)

    .member__detail
      opacity 1
      transform translate3d(0, 0, 0)

  &:hover
  &:focus
    &:before
      opacity 0.75

    .member__image
      transform scale(1.15)

.member--alt
    background-color $color--steel

.member__image
  display block
  position relative
  z-index 1
  width 100%
  transform scale(1)
  transition transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1)

.member__content
  padding 1em
  position absolute
  width 100%
  top 50%
  transform translateY(-50%)
  text-align center
  z-index 3

  &:before
    content ''
    background $color--ghost
    display block
    position absolute
    top 50%
    left 50%
    transform translate3d(-50%, -50%, 0)
    margin 0 auto
    height 1px
    width 0
    transition width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s

.member__detail
  display inline-block
  opacity 0
  transition 0.6s all cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s

.member__name
  display block
  font-family $font--brand
  font-size 2em
  line-height 1
  margin-bottom 0.5em
  margin-top -0.5em
  overflow hidden

  .member__detail
    transform translate3d(0, 0.5em, 0)

.member__label
  display block
  font-size 0.8em
  line-height 1
  overflow hidden
  position relative

  .member__detail
    transform translate3d(0, -1em, 0)

.emblem
  margin-top 1em

.emblem__image
  padding 5px
  width 6em

.svg-logo
  svg
    max-width 100%
    height auto

.footer
  color $color--grey--mid
  padding 3em 0

  +width-min($mq--desktop)
    padding 5em 0

.footer__content
  color $color--grey--dark
  font-size 0.8em

.footer__heading
  border-bottom 1px solid $color--steel
  margin-bottom 0.5em
  padding-bottom 1em

.footer__heading--alt
  border-bottom-color $color--graphite

.footer__link
  color $color--grey--mid
  display block
  padding 0.25em 0
  text-decoration none
  transition all 0.5s cubic-bezier(0.19, 1, 0.22, 1)

  &:before
    content ''
    background $color--steel
    display inline-block
    height 1px
    width 0
    vertical-align middle
    transform-origin left
    transition all 0.5s cubic-bezier(0.19, 1, 0.22, 1)

  &:hover
  &:focus
    color $color--white

    &:before
      margin-right 0.25em
      width 1em

.footer__logo
  margin-bottom 2em
  width 25%

  +width-min($mq--fablet)
    width 50%
