@require '../../node_modules/stylus-mixins'
@require '../../node_modules/responsive-grid'

$color--nero = #252525
$color--empress = #7d6d70
$color--matterhorn = #515151
$color--salmon = #fa7b73
$color--white-smoke = #f2f2f2
$color--white = #fff

$font--base = 'Pavanam', sans-serif
$font--heading = $font--base

$mq--mobile--portrait  = 320px
$mq--mobile--landscape = 420px
$mq--tablet--portrait  = 515px
$mq--tablet--landscape = 768px
$mq--desktop--small    = 1024px
$mq--desktop--medium   = 1280px
$mq--desktop--large    = 1600px

$mq--mobile  = $mq--mobile--portrait
$mq--fablet  = $mq--tablet--portrait
$mq--tablet  = $mq--tablet--landscape
$mq--desktop = $mq--desktop--small

grid-base()
grid-gutter-modifier('gutterless', 0)
grid-widths('', 2)

*, *:before, *:after
  box-sizing border-box

html, body, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, hr, legend, address, input, button, textarea, blockquote, table, th, td
  font-size 1em
  font-weight normal
  margin 0
  padding 0

html
  height 100%

body
  background $color--nero
  color $color--white-smoke
  fill $color--white-smoke
  font 112.5%/1.5 $font--base
  height 100%
  padding-top 139px
  -webkit-font-smoothing antialiased

.prose
  * + *
    margin-top 1em

  a
    color $color--salmon

  h1, h2
    font-family $font--heading
    font-weight bold

  h1
    text-transform uppercase
    letter-spacing 0.15em

.content
  padding 1em 0

.container
  margin auto
  max-width 75em
  padding 0 2em

.header
  background $color--empress url('/img/daily/header.jpg') no-repeat 0 50%
  background-size cover
  color $color--white
  padding 1em 0
  position fixed
  top 0
  width 100%

.footer
  padding 2em 0

.site-logo
  color $color--white
  display inline-block
  fill $color--white
  height 103px
  width 83px
  overflow hidden
  vertical-align top

  +width-min($mq--tablet)
    width 295px

.navigation
  display inline-block
  margin-left 3px
  vertical-align top

  a
    background $color--empress
    background rgba($color--salmon, 0.25)
    border-bottom 3px solid transparent
    color $color--white
    display block
    font-size 0.8em
    font-weight bold
    letter-spacing 0.25em
    padding 1.5em 2em
    padding-right 1.75em
    text-align center
    text-decoration none
    text-transform uppercase

    &:hover
      background $color--white-smoke
      border-bottom-color $color--salmon
      color $color--empress

  li
    display inline-block
    margin-right -1px

.block
  background $color--matterhorn
  padding 5em 1em
  text-align center

  &:nth-of-type(even)
    background lighten($color--matterhorn, 50%)

.block--large
  padding 10em 1em

.block--small
  padding 2em 1em

.anchor
  display inline-block
  padding-top calc(139px + 1em)
