$color--black = #222
$color--orange = #ff6a13
$color--white = #fff

body
  background-image url('/img/body--division.jpg')

.grid--1
  .stroke
    fill $color--orange

.grid--2
  .stroke
    fill none
  .fill
    fill $color--orange

.grid--3
  background $color--white
  .stroke
    fill $color--orange

.grid--4
  background $color--white
  .stroke
    fill none
  .fill
    fill $color--orange

.grid--5
  .stroke
    fill $color--white

.grid--6
  .stroke
    fill none
  .fill
    fill $color--white

.grid--7
  background $color--orange
  .stroke
    fill $color--white

.grid--8
  background $color--orange
  .stroke
    fill none
  .fill
    fill $color--white

.grid--9
  .stroke
    fill $color--white
  .fill
    fill $color--orange

.grid--10
  .stroke
    fill $color--orange
  .fill
    fill $color--white

.grid--11
  background $color--black
  .stroke
    fill $color--white
  .fill
    fill $color--orange

.grid--12
  background $color--black
  .stroke
    fill $color--orange
  .fill
    fill $color--white
