body.is-division
  background-image url('/img/body--division.jpg')

.grid
  $orange = #ff6a13
  $black = #222

  display inline-block
  width 50%

  svg
  height auto
  max-width 100%
  padding 1em
  position relative
  margin-top 50%
  transform translateY(-50%)

  .stroke
  .fill
  transform translateY(20px)

  &.grid--1
  .stroke
    fill $orange

  &.grid--2
  .stroke
    fill none
  .fill
    fill $orange

  &.grid--3
  background white
  .stroke
    fill $orange

  &.grid--4
  background white
  .stroke
    fill none
  .fill
    fill $orange

  &.grid--5
  .stroke
    fill white

  &.grid--6
  .stroke
    fill none
  .fill
    fill white

  &.grid--7
  background $orange
  .stroke
    fill white

  &.grid--8
  background $orange
  .stroke
    fill none
  .fill
    fill white

  &.grid--9
  .stroke
    fill white
  .fill
    fill $orange

  &.grid--10
  .stroke
    fill $orange
  .fill
    fill white

  &.grid--11
  background $black
  .stroke
    fill white
  .fill
    fill $orange

  &.grid--12
  background $black
  .stroke
    fill $orange
  .fill
    fill white

.grid__container
  height 0
  overflow hidden
  padding-bottom 100%
