@font-face
  font-family 'ostrich'
  font-weight regular
  font-style normal
  src url('/font/ostrich/regular.woff2') format('woff2')
    , url('/font/ostrich/regular.woff') format('woff')
    , url('/font/ostrich/regular.ttf')  format('truetype')

@font-face
  font-family 'ostrich'
  font-weight bold
  font-style normal
  src url('/font/ostrich/bold.woff2') format('woff2')
    , url('/font/ostrich/bold.woff') format('woff')
    , url('/font/ostrich/bold.ttf')  format('truetype')
