@font-face
  font-family 'borda'
  font-weight normal
  font-style normal
  src url('/font/borda/regular.woff2') format('woff2')
    , url('/font/borda/regular.woff') format('woff')
    , url('/font/borda/regular.ttf')  format('truetype')

@font-face
  font-family 'borda'
  font-weight bold
  font-style normal
  src url('/font/borda/bold.woff2') format('woff2')
    , url('/font/borda/bold.woff') format('woff')
    , url('/font/borda/bold.ttf')  format('truetype')
