$black = #222
$blue = #5674b9
$purple = #8560a8
$turquoise = #02fa9c
$yellow = #ff3
$white = #fff

*
  box-sizing border-box

html
  height 100%

body
  background url('/img/body.jpg') no-repeat 50% 50%
  background-attachment fixed
  background-size cover
  height 100%
  line-height 0
  margin 0
  text-align center

a
  -webkit-tap-highlight-color rgba(black, 0)

.wrapper
  position absolute
  top 0
  right 0
  bottom 0
  left 0

.logo
  position absolute
  top 50%
  right 0
  left 0
  width 260px
  height 220px
  margin -110px auto 0
  text-decoration none
  text-transform uppercase

  $fill =
    fill url(#gradient)
    transition fill-opacity 1s ease-in-out

  .fill
  .stroke
    {$fill}

  .fill
    fill-opacity 0

  &:hover
  &:active
  &:focus
    .fill
      fill-opacity 1

    .stroke
      fill-opacity 0
