*
  box-sizing border-box

@font-face
  font-family 'borda'
  font-weight normal
  font-style normal
  src url('/font/borda/regular.woff2') format('woff2')
    , url('/font/borda/regular.woff') format('woff')
    , url('/font/borda/regular.ttf')  format('truetype')

@font-face
  font-family 'borda'
  font-weight bold
  font-style normal
  src url('/font/borda/bold.woff2') format('woff2')
    , url('/font/borda/bold.woff') format('woff')
    , url('/font/borda/bold.ttf')  format('truetype')

html
  height 100%

body
  background url('/img/body.jpg') no-repeat 50% 50%
  background-attachment fixed
  background-size cover
  font-family 'borda'
  height 100%
  line-height 0
  margin 0
  text-align center

a
  -webkit-tap-highlight-color rgba(black, 0)

.wrapper
  position absolute
  top 0
  right 0
  bottom 0
  left 0

.logo
  color #e1dad0 //@stylint ignore
  position absolute
  top 50%
  right 0
  left 0
  width 260px
  height 220px
  margin -110px auto 0
  text-decoration none
  text-transform uppercase

  .text
    display inline-block
    font-size 0
    line-height 1
    margin-top 3px

    *
      display inline-block
      font-size 39px

  $fill =
    fill url(#gradient)
    fill-opacity 0.9
    transition fill-opacity 1s ease-in-out

  .fill
  .stroke
    {$fill}

  .fill
    fill-opacity 0

  &:hover
  &:active
  &:focus
    .fill
      fill-opacity 0.9

    .stroke
      fill-opacity 0
