extends ../_templates/daily

block content
  .content
    .container
      h1 Iron Banner / Trials
      .block.block--large Timed event bounties#[br](hidden when not active)

      a.anchor(id='daily')
      h1 Daily events
      .block Daily heroic mission
      .block.block--small Daily Vanguard bounties
      br

      .block Daily crucible playlist
      .block.block--small Daily crucible bounties

      a.anchor(id='nightfall')
      h1 Nightfall
      .block.block--large Nightfall strike details and modifiers

      a.anchor(id='weekly')
      h1 Weekly events
      .block.block--small Weekly raid challenge - when applicable
      br

      .block.block--small Weekly heroic strike modifiers
      br

      .block Weekly crucible playlist
      .block.block--small Weekly crucible bounty
      br

      h1 Prison of Elders
      .block.block--large Prison of Elders
      .block.block--small Varik's bounties
      br

      h1 Vendors
      .block.block--large Materials exchange and bounties#[br](I'm not convinced this is the best place for this)
