extends ../_templates/daily

block content
  .content
    .container
      h1 Xur
      .block.block Location guide#[br](perhaps countdown when not in Tower)
      .block.block--large Inventory#[br](hidden when not in Tower)
