extends _templates/default

block meta
  meta(name='robots', content='noindex,nofollow')

block content
  .content.brand-triangles
    .container
      .site-introduction
        h1.heading Page not found
        p I don't have time to explain, why I don't have time to explain why I couldn't find the page you were looking for.
        +button(href='/') Return to homepage
