extends _templates/default

block header

block append stylus
  include:stylus(compress=true) css/_getrekt.styl

block content
  .grid.grid--gutterless.grid--full-height
    .grid__item.one-half-height
      a.promo(href='http://avaclancheuk.spreadshirt.co.uk/-A111961246', target='_top', data-promo)
        .promo__image
          img(src='/img/hardcore-casual.png', alt='', loading='lazy')
        .promo__content
          span Casual
    .grid__item.one-half-height
      a.promo(href='http://avaclancheuk.spreadshirt.co.uk/-A111961251', target='_top', data-promo)
        .promo__image
          img(src='/img/laidback-diehard.png', alt='', loading='lazy')
        .promo__content
          span Competitive

  .getrekt__overlay

block footer
