extends _templates/default

block content
  .content
    .container
      .site-introduction.site-introduction--first
        h1.heading Code of Conduct
        p #[strong Avalanche UK] is a clan created by and for mature players (21+). Destiny is an escape from the real-world hassle, a place where we can forget the grind of day-to-day business, a place where we can come together as a community to laugh, joke, and achieve, with old friends and new.

        p As Avalanche members it is our responsibility to maintain our community and to treat each other with respect. We ask all clan members to be mindful of a few simple rules and display our name with pride.

  .content.brand-triangles.brand-breakout.brand-fixed
    .container
      .grid.grid--gutterless.grid--align-center
        .grid__item.tablet-three-quarters
          .textblock.textblock--auto.brand-gradient.brand-fixed
            .textblock__content
              h2.heading Rules
              ul.prose
                li #[strong This is a positive gaming environment.] Ava is safe space for people from all walks of life. It has a zero-tolerance policy for discrimination. Any racist, sexist, or discriminatory remarks made while playing with other members and/or non-members, is grounds for removal from the clan. Be helpful and encouraging toward fellow clan and community members. Support each other in all activities and welcome constructive feedback to achieve the activity goal.
                li #[strong We want you to be proud you are a member.] Wherever you choose to game, you are an ambassador of Avalanche UK. At all times, respect the players you are with and adhere to the Bungie and Microsoft terms of service. Your clan tag is publicly visible, and your actions can impact the clan’s image. If a member of your fireteam expresses discomfort with language (or actions) being used, please be respectful. If you are in a fireteam where you feel uncomfortable, please speak up and to an Admin. Inappropriate behavior from clan members whatever the scenario may be grounds for removal from the clan.
                li #[strong People are tolerant of various levels of profanity.] We play for fun. This does not mean that we will accept continuous streams of profanity. We understand everyone gets upset and needs to vent from time to time. However, please remain aware of such language. Do not vent frustration at teammates. Gaming can get intense but demeaning comments are never acceptable.
                li #[strong Be a positive, active member of the community.]  There is no minimum time commitment for becoming a clan member, we simply ask that you be as active as you can. We hope that that you invest into the clan as much as we invest into you. However, prolonged inactivity or repeated failure to attend events you have signed up for, may result in disciplinary action.
                li #[strong Get stuck in.] Events are open to all members and guests and participation is encouraged. Game day sign-ups are addressed on a first come first served basis. If you have been placed on reserve/standby, please respect the decision. 
                li #[strong We understand time limitations, commitments, and unexpected circumstances.] If you are unable to make an event for which you have signed up, please message the Fireteam Leader (FTL), Captain or Admin team as soon as possible to allow a reserve player the slot.
                li #[strong Be understanding with the written word.] Discord chat is meant to be a way to connect with one another to form teams, get to know each other, talk about Destiny, and have fun. But written communication can be difficult. Be mindful that text does not well convey intent, tone, or expression, when communicating through chat and messages.
                li #[strong Never put a personal problem with another member on a public forum.] If a problem with a fellow clan member arises, the issue should be raised privately to one of the Admins. Grievances should not be aired in group messages or public channels. Admins will work with all parties to resolve issues as quickly and fairly as possible.

              p.prose Any breaches of the Code of Conduct can also be reported via email to #[a(href='mailto:admins@avaclanche.uk', target='_top') admins@avaclanche.uk].

          //- .textblock.textblock--auto
            .textblock__content
              h2.heading Fireteam unity
              p.prose While entirely optional, The Admins would like to invite fireteams taking part in organised Destiny 1 events to don matching emblems from one of our preferred:

              if emblems
                .grid
                  each emblem in emblems
                    .grid__item.fablet-one-half
                      .emblem
                        img.emblem__image.brand-gradient.brand-fixed(src=emblem.image, alt='', loading='lazy')
                        p= emblem.name

          .textblock.textblock--alternate.textblock--auto
            .textblock__content
              h2.heading Thanks
              p The Admins would like to thank you for taking the time to read our Code of Conduct. Please feel free to introduce yourself to the rest of the clan by joining us on Discord.
              p
                +button(href='/#join-us', data-scroll) Say hello
