extends _templates/default

block meta
  meta(name='robots', content='noindex,nofollow')
  link(href='https://fonts.googleapis.com/css?family=Pavanam|Lato', rel='stylesheet')

block stylus
  include:stylus(compress=true) stylus/_daily.styl

block header
  .header
    .container
      .site-logo
        include /img/daily/logo--full.svg

block content
  .content
    .container
      .prose
        h1 Nullam ornare dignissim malesuada
        h2 Donec dapibus ligula risus, eu dignissim nunc suscipit non
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac fringilla odio. Vivamus ac dui augue. Suspendisse ultrices porta tristique. Morbi iaculis imperdiet pretium. Integer bibendum felis vel libero laoreet blandit. Vivamus nec eros diam. Maecenas libero urna, egestas mattis dolor rhoncus, dignissim laoreet ipsum. Duis ultricies sapien ut vulputate aliquet. Aliquam in dui at erat faucibus iaculis. Ut hendrerit tortor ultrices mi porta vestibulum. Sed viverra, turpis ut hendrerit iaculis, urna ligula venenatis nisl, vitae fermentum ligula urna eu purus.
        p Maecenas finibus iaculis augue, a mattis metus convallis id. Aenean at arcu id velit tincidunt vulputate nec sit amet lectus. Morbi nec faucibus diam. Pellentesque ut augue sit amet tellus tristique bibendum vel et nulla. Aliquam venenatis fringilla elit in posuere. Donec id urna at risus tristique aliquet. Etiam nisl dolor, euismod sit amet faucibus non, tristique sit amet enim. Vestibulum tincidunt metus nec mollis sagittis. Quisque tempor sollicitudin ante, et lacinia ligula gravida vel. Quisque malesuada convallis suscipit. Cras facilisis lectus ut ex pretium rutrum mollis volutpat est. Duis fringilla sapien eu odio interdum consequat. Curabitur viverra viverra mattis.

block footer
  .footer
    .container
      include /img/daily/logo.svg
