extends _templates/error

block content-copy
  h1.heading We've moved to Discord
  p We've shut down our Slack community and migrated to Discord
  +button(href='https://discord.avaclanche.uk', target='_top') Come join us
