extends _templates/error

block content-copy
  h1.heading We've moved to Discord
  p In preparation for the launch of Destiny 2 we've shut down our Slack community and migrated to a brand new Discord server
  +button(href='https://discord.gg/bZdnXyH', target='_top') Come join us
