extends _templates/default

block settings
  - var bodyClass = 'is-division'

block append stylus
  include:stylus(compress=true) stylus/_division.styl

block content
  - var n = 0
  while n < 12
    - n++
    .grid(class='grid--' + n)
      .grid__container
        include img/logo.svg
