extends _templates/default

block content
  .content
    h1.site-title.middled
      include img/logo__text.svg

    .stream.is-offline(id='js-twitch-wrapper')
      .middled.content-container
        .aspect-ratio(id='js-twitch-player')

  script(src='//player.twitch.tv/js/embed/v1.js')
  script
    :uglify-js
      var player = new Twitch.Player('js-twitch-player', { channel: 'avaclancheuk' })
        , wrapper = document.getElementById('js-twitch-wrapper')

      player.addEventListener('online', showPlayer)
      player.addEventListener('playing', showPlayer)

      function showPlayer() {
        wrapper.classList.remove('is-offline')
      }
