extends _templates/default

block content
  a.wrapper(href='#', tabindex='-1')
  a.logo(href='#', title=title)
    svg(width='100%', height='100%')
      defs
        lineargradient(id='gradient', x1='0', y1='0', x2='100%', y2='100%', gradientunits='userSpaceOnUse')
          stop(offset='0', stop-color='#8560a8')
          stop(offset='30%', stop-color='#5674b9')
          stop(offset='100%', stop-color='#02fa9c')
      include img/logo.svg
      span.text #[span Avalanche] #[strong UK]
