extends _templates/error

block content-copy
  h1.heading Offline for maintenance
  p &ldquo;Inappropriate picture message received from Cayde.&rdquo;
  +button(href='/', target='_top') Return to homepage
